@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;600&family=Castoro+Titling&family=Caveat:wght@500&family=Lora:ital@0;1&family=Montserrat:wght@200&family=Playfair+Display&family=Quicksand&family=Roboto+Mono:wght@300&family=Sofia+Sans+Condensed:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background-color: white;
  font-family: 'Lora', serif;
}
.group1{
    display: flex;
    flex-direction: column;
    background-image: url("../img/fundo4.avif");
    background-color:rgb(49, 54, 150);
    height: 58vh;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height:15%;
    border-bottom: solid 1px rgba(161, 164, 173, 0.76);
    color: white;
    background-color:rgba(2, 22, 87, 0.897);
    padding-left: 20px;
}
.logo{
    width: 90%;
}
.topicos{
    display: flex;
    justify-content: space-around;
    width: 20%;
    
}
.p-topico{
    font-size: 12pt;
}
#logoIF{
    width: 6%;
    border-radius: 5px;
}
.top {  
  display: flex;
  height: 85%;
  padding: 0px;
  color: #fff;
  text-align: center;
  box-sizing: content-box;
  background-color:rgba(2, 22, 87, 0.897);
}
.left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    width: 50%;
    height: auto;
    background-color: transparent;
    padding-top: 10px;
    padding-left: 30px;

}
.titulo{
    display: flex;
    font-size: 20pt;
    background-color: transparent;
    width: 100%;
    height: auto;
    text-align: left;
}
.text{
    width: 100%;
    font-size: 16px;
    text-align: left;
}
.right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    height: auto;
    padding: 5px;
    background-color:transparent;
   
}
#img_computer_topo{
    width: 70%;
}

.section {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 50px;
  flex-direction: column;
  padding: 20px;
  padding-top: 0;
  height: auto;
  color: #fff;
  text-align: center;
  background-color:transparent;
}
p{
    font-size: 14pt;
}
h3{
    font-size: 14pt;
}
.conhecer_cursos{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 10vh;
    background-color: transparent;
    padding-left: 20px;
    font-size: 16pt;
    color: rgb(77, 77, 77);

}
span{
    font-weight: bold;
}
.alunos{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-bottom: 25px;
    background-color: transparent;
}
.coluna1{
    display: flex;
    width: 50%;
    padding-right: 13px;
    background-color: transparent;
}
.coluna2{
    display: flex;
    width: 50%;
    padding-left: 13px;
    background-color: transparent;
}
.area_curso{
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: rgba(184, 184, 184, 0.545);
    border-radius: 8px;
    color: #292f3b;
    box-shadow: 2px 2px 5PX 2px  rgba(0, 0, 0, 0.199);
}
.area_curso:hover{
    background-color: #5e5e5f56;
}
.descricao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    
}
.img{
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: transparent; 
}

.imagem_cursos{
    width: 50%;
    border-radius: 50px;
}

.parte1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid #243b68;
}
.parte2{
    width: 100%;
    padding-top: 5px;
    text-align: justify;
   
}
.p_desc{
    font-size: 11pt;
    font-weight: 900;
}

.icones{
    width: 25px;
}
.icones:hover{
    transform: scale(1.1);
    transition: 400ms linear;
}
.rodape_top{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    background-image: linear-gradient( to right, #28274e, #3f3d74);
}
.info{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 25vh;
    background-image: linear-gradient( to right, #28274e, #3f3d74);
    color: white;
    padding: 15px;
    border-bottom: solid 1px white;
}
.imagem{
    width: 25%;
}
.info_curso{
    width: 35%;
    background-color: transparent;
    padding-left: 10px;

}
.p_rodape{
    font-size: 11pt;
    padding: 5px 0px 8px 0px;
}

.info_orientador{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.text_info{
    width: auto;
    text-align: center;
}
.contato{
    width: auto;

}
.info_desenvolvedor{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.h4_footer{
    font-size: 14pt;
}

.info2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10pt;
    width: 100%;
    height: 8vh;
    background-image: linear-gradient( to right, #28274e, #3f3d74);
    padding: 5px;
}
.pRodape{
    font-size: 10pt;
}
#logo2{
    width: 75%;
    border-radius: 8px;

}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
/*-----------------Mobile :)------------------------------
@media screen and (max-width:1053px) {
    .group1{
        height: 50vh;
    }
    h3{
        font-size: 11pt;
    }
    p{
        font-size: 10pt;
    }
    #logoIF{
        width: 8%;
       }
}
@media screen and (max-width:940px) {
    .titulo{
        font-size: 18pt;
    }
    #computer{
        width: 100%;
    }
    .top{
        height: 45vh;
    }
    
}
@media screen and (max-width:890px) {
    .titulo{
        font-size: 16pt;
    }
    .alunos{
        width: 90%;
    }
    h3{
        font-size: 12pt;
    }
    p{
        font-size: 10pt;
    }
    .group1{
        height: 40vh;
    }
}
@media screen and (max-width:769px) {
    .titulo{
        font-size: 14pt;
    }

    h3{
        font-size: 16pt;
    }
    p{
        font-size: 14pt;
    }
    .alunos{
        padding: 0px 5px 0px 5px;
        margin: 0;
        flex-direction: column;
        
    }
    .coluna1{
        width: 100%;
        padding: 8px;
    }
    .coluna2{
        width: 100%;
        padding: 8px;
    }
    .imagem_cursos{
    width: 70%;
   }
    #logo2{
    width: 90%;
    }
    #logoIF{
    width: 10%;
    }
   .group1{
    background-position: center;
    }
}
@media screen and (max-width:653px) {
    .titulo{
        font-size: 12pt;
    }
    .imagem{
        width: 40%;

    }

}
@media screen and (max-width:605px) {

    .titulo{
        font-size: 10pt;
    }
    #computer{
        width: 100%;
    }
    .alunos{
        width: 100%;
    }
    .topicos{
        width: 40%;
    }
    .imagem{
        width: 50%;
    }
    .info{
        flex-direction: column;
        height: 60vh;
    }
    .info_curso{
        width: 100%;
    }
    .info_desenvolvedor{
        align-items: flex-start;
        padding-left: 10px;
        width: 100%;
       
    }
    .info_orientador{
        align-items: flex-start;
        padding-left: 10px;
        width: 100%;
    }
    .h4_footer{
        font-size: 16pt;
    }
    .p_rodape{
        font-size: 12pt;
    }
    
    
  
}

@media screen and (max-width: 475px) {
    .navbar{
        background-color: #0201209c;
        border-bottom: solid 1px white;
    }
    .group1{
        background-image: url("../img/mobile.avif");
        background-position: center;
        background-size: 500px;
        background-repeat: no-repeat;
    }
    .top{
        background-image: none;
        padding-top: 0;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #0201209c;
    }
    .titulo{
        font-size: 10pt;
    }
    .left{
        width: 100%;
        padding-top: 30px;
    }
    .text{
        font-size: 10pt;
    }
    .section{
        padding: 0;
    }
    .topicos{
        width: 90%;
    }
    .navbar{
        padding-left: 5px;
    }
   #logoIF{
    width: 25%;
   }
}
@media screen and (max-width: 475px) {
 h3{
    font-size: 12pt;
 }
 p{
    font-size: 10pt;
 }
 .logo{
    padding: 0;
    margin: 0;
 }

   
}
@media screen and (max-width: 345px) {
    .imagem{
        width: 70%;
    }
}

@media screen and (min-height: 800px) and (max-width: 475px){
    .group1{
        background-size: 600px;
    }
    .top{
        height: 25vh;
    }
}
*/


