@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;600&family=Castoro+Titling&family=Caveat:wght@500&family=Montserrat:wght@200&family=Quicksand&family=Sofia+Sans+Condensed:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
}
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height:10vh;
    background-color: #ffffff;
    color: black;
    padding: 0px 25px 0px 25px;
    margin-bottom: 5vh;
    border-bottom: 1px solid rgba(241, 241, 241, 0.884);
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.logo{
    width: 10%;
}
span{
    font-size: 23px;
}
.topicos{
    display: flex;
    width: 34%;
}
.pesquisa{
    width: 56%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}

.barraDePesquisa{
    width: 35%;
    height: 6vh;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.barraDePesquisa:focus-within{
    box-shadow: 1px 1px 10px rgba(0, 0, 255, 0.363);
}
#logoIF{
    width: 120px;
    border-radius: 5px;
}
a:link{
    color: rgba(0, 0, 0, 0.89);
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color: rgba(0, 0, 0, 0.897);
    text-decoration: none;
}

.iconesA{
    width: 10%;
    margin: 5px;
}
.inputPesquisa{
    border: none;
    height: 100%;
    background-color: transparent;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}