@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;600&family=Castoro+Titling&family=Caveat:wght@500&family=Montserrat:wght@200&family=Quicksand&family=Roboto+Mono:wght@300&family=Sofia+Sans+Condensed:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Mono', monospace;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height:  10vh;
    color: black;
    margin-bottom: 5vh;
    padding: 5px;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.div_logo{
    width: 5%;
    height: auto;
    background-color: transparent;
}
.logo_navbar{
    width: 60%;
}
.topicos{
    width: 20%;
    color: rgb(3, 10, 51);
}
.perfil{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 25vh;
}
.conteudo{
    display: flex;
    width: 50%;
    background-color: transparent;
    height: 100%;
}
.imagem{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: transparent;
}
#usuario{
    width: 45%;
    border-radius: 50%;
}
.dados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding-left: 25px;
    background-color: transparent;
}
.p_nome{
    font-size: 25pt;
}
.p_matricula{
    font-size: 12pt;
}
.text{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.dado{
    border: none;
    margin-bottom: 10px;
    font-size: medium;
}
label{
    padding-bottom: 5px;
}

.nome{
    font-size: 25pt;
    width: 400px;
}

.areaProjeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 5vh;
}
.tipos{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid 1px rgba(226, 226, 226, 0.918);
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 20px;
}
.nomeProjeto{
    background-color: transparent;
    height: 30px;
    border: none;
    font-size: 12pt;
    width: 150px;
    margin: 2px;
}
.nomeProjeto:hover{
    background-color: #9998b327;
}
.nomeProjeto:focus-within{
    border-bottom:solid 3px #ada6ff;
}
.novoProjeto{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 50vh;
}

.criar{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 15vh;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px rgba(153, 153, 153, 0.342);
    font-size: 13pt;
    color: rgb(37, 37, 37);
}
#newP{
    width: 15%;
}

.botaoCriar{
    width: 80px;
    height: 4vh;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 11pt;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #ada6ff,#aab3b8);
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

.hidden{
    display: none;
}
.footer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid white;
    background-color: #020120;
}
.social{
    display: flex;
    justify-content: space-between;
    width: 10%;
    height: 25%;
    background-color: transparent;
}
.icones{
    width: 30px;
}
.icones:hover{
    transform: scale(1.1);
    transition: 400ms linear;
}
.info{
    width: 80%;
    background-color: transparent;
    padding: 5px;
    color: white;
}
.info2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10pt;
    width: 100%;
    height: 8vh;
    background-color:#020120;
    padding: 5px;
}
.pRodape{
    font-size: 10pt;
}
#logo2{
    width: 15%;
    border-radius: 10px;
}
@media screen and (max-width: 980px) {
    .social{
        width: 20%;
    }
    #logo2{
        width: 30%;
    }
}
@media screen and (max-width: 780px) {

    .criar{
        width: 30%;
    }
    #usuario{
        width: 80%;
    }
 
}
@media screen and (max-width: 561px) {
    .perfil{
        padding-left: 8px;
    }
    #usuario{
        width: 100%;
    }
    .social{
        width: 30%;
    }
    .footer{
        padding: 5px;
    }
    .logo_navbar{
        width: 100%;
    }
    .topicos{
        padding-left: 8px;
        font-size: 15pt;
    }
    #logo2{
        width: 40%;
    }
}
@media screen and (max-width: 500px) {
    .novoProjeto{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .criar{
        width: 60%;
    }
    #usuario{
        width: 120%;
    }
    #logo2{
        width: 60%;
    }
}
@media screen and (max-width: 400px) {
    .social{
        width: 40%;
    }

}
@media screen and (max-width: 300px) {
    .perfil{
        justify-content: flex-start;
        padding-left: 15px;
    }
    #usuario{
        width: 130%;
    }
    .social{
        width: 50%;
    }
 
}