@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background-color: white;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height:9vh;
    background-color: #4439af;
    color: white;
    padding-left: 35px;
}
.logo{
    width: 80%;
}
.topicos{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
#logoIF{
    width: 120px;
    border-radius: 5px;
}


.top {  
  display: flex;
  height: 60vh;
  padding: 0px;
  color: #fff;
  text-align: center;
  box-sizing: content-box;
  background-image: linear-gradient(to bottom, #4439af,#3f27a8, #1e0657 );
}
.left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    width: 50%;
    height: auto;
    background-color: transparent;
    padding-top: 10px;
    padding-left: 30px;
    font-family: 'Quicksand', sans-serif;
}
.titulo{
    font-size: 20pt;
    background-color: transparent;
    width: 90%;
    text-align: left;
}
.text{
    width: 90%;
    font-size: 12px;
    text-align: left;
}
.right{
    display: flex;
    align-items: flex-end;
    width: 50%;
    height: auto;
    background-color: transparent;
   
}
#computer{
  width: 90%;
    
}
.section {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 50px;
  flex-direction: column;
  padding: 30px;
  padding-top: 0;
  height: auto;
  color: #fff;
  text-align: center;
  background-color:transparent;
}
p{
    font-size: 12pt;
}
.conhecer_cursos{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 10vh;
    background-color: transparent;
    padding-left: 20px;
    font-size: 16pt;
    color: rgb(77, 77, 77);
    font-family: 'Playfair Display', serif;
}
span{
    font-weight: bold;
}
.alunos{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    margin-bottom: 25px;
    background-color: transparent;
}
.coluna1{
    display: flex;
    width: 50%;
    padding-right: 13px;
    background-color: transparent;
}
.coluna2{
    display: flex;
    width: 50%;
    padding-left: 13px;
    background-color: transparent;
}
.area_curso{
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: rgba(184, 184, 184, 0.288);
    border-radius: 8px;
    color: #292f3b;
    box-shadow: 2px 2px 5PX 2px  rgba(0, 0, 0, 0.199);
}
.area_curso:hover{
    transform: scale(1.1);
    transition: 500ms linear;
    background-color: #0555eb54;
}
.descricao{
    width: 70%;
    font-family: 'Playfair Display', serif;
    
}
.img{
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: transparent; 
}

.imagem_cursos{
    width: 50%;
    border-radius: 30px;
}
.parte1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid #0555eb;
}
.parte2{
    width: 100%;
    padding-top: 5px;
    text-align: justify;
   
}
.p_desc{
    font-size: 11pt;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-weight: 900;
}
.footer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    border-bottom: 1px solid white;
    background-color: #020120;
}
.social{
    display: flex;
    justify-content: space-between;
    width: 10%;
    height: 25%;
    background-color: transparent;
}
.icones{
    width: 30px;
}
.icones:hover{
    transform: scale(1.1);
    transition: 400ms linear;
}
.info{
    width: 80%;
    background-color: transparent;
    padding: 5px;
    color: white;
}
.info2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10pt;
    width: 100%;
    height: 8vh;
    background-color:#020120;
    padding: 5px;
}
.pRodape{
    font-size: 10pt;
}
#logo2{
    width: 15%;
    border-radius: 10px;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
  
